/* Ajuste para fonts */

@font-face
{
	font-family: Roboto-Regular;
	src: url('../font/Roboto-Regular.ttf');
}

/* Ajuste para el HTML */
html
{
    height: 10px;
    font-size: 15px;
    font-family: Roboto-Regular;
    border-bottom: 1px;
}

#Texto_apoyo
{
    background: #F2F2F2;
    font-weight: bold;
    width: 80%;
    height: 100%;
    margin: auto;
    align-content: center;
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 1px;
}

/* Ajuste para el mapa */

#Seccion_mapa
{
    background: #F2F2F2;
    width: 80%;
    height: 100%;
    min-height: 60vh;
    margin: auto;
}

/* Ajuste para la tabla */

.seccion_tabla_de_contenido
{
  background-color: #F2F2F2;

  width: 80%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.seccion_busqueda
{
    background: #F2F2F2;
    outline: black;

    justify-content: space-between;
    /*align-items: center;*/

    width: 100%;

    display: flex;
}

.controles_tabla
{
    font-family: Roboto-Regular;

    font-size: 17px;

    width: 100%;

    padding-top: 28px;

    margin-top: 15px;

    background-color: #F2F2F2;

    transform: translateY(-24%);
}

input[type="text"], textarea
{
    background-color : #F2F2F2;
}

.tabla {
    width: 100%;
    background: #F2F2F2;
    border-collapse: collapse;
    align-content: center;

    padding: 33px 30px;
}

tabla *
{
    position: relative;
    border-collapse: collapse;
}

tabla th
{
    padding-left: 8px;
    text-align: center;
    font-family: Roboto-Regular;
}

tabla thead tr
{
    height: 60px;
    background: #36304a;
}

tabla tbody tr
{
    height: 50px;
}

tabla tbody tr:last-child
{
    border: 0;
}

.encabezados th
{
    font-family: Roboto-Regular;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    line-height: 1.2;
}

tbody tr
{
    font-family: Roboto-Regular;
    font-size: 15px;
    color: #000000;
    line-height: 1.2;
    font-weight: unset;
    border-bottom: 1px solid #282CF0;
}

.column0 {
    /*width: 56px;*/
    width: 20.7%;
    /*padding-left: 2%;*/
}

.column1 {
    /*width: 260px;*/
    width: 20.7%;
    /*padding-left: 3%;*/
    text-align: center;
}

.column2 {
    /*width: 260px;*/
    width: 20.7%;
}

.column3 {
    /*width: 260px;*/
    width: 9.425%;
    text-align: center;
}

.column4 {
    /*width: 70px;*/
    width: 9.425%;
    text-align: center;
}

.column5 {
    /*width: 70px;*/
    width: 9.425%;
    text-align: center;
}

.column6 {
    /*width: 100px;*/
    width: 9.425%;
    text-align: center;
}

/*.column7 {
    width: 180px;
    width: 14.33%;
    text-align: right;
    padding-right: 40px;

}*/

input#caja_de_busqueda
{
    width: 220px;
    height: 1.5rem;

    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: auto;

    position: relative;

}

.Seleccionar_filtro
{
    background-color: #F2F2F2;

    height: 1.8rem;

    border-style: solid;
    border: 5px;
}

#Texto_filtro
{
    font-family: Roboto-Regular;

    height: 2.5rem;

    margin: auto;

    padding-top: 4px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 7px;
}

#Seccion_input_busqueda
{
    width: 100%;

    display: flex;
}

.Seccion_para_caja
{
    /*flex: 2;*/

    /*transform: translateX(-1%);*/
}

.seccion_filtros
{
    /*flex: 1;*/
    display: flex;

    /*transform: translateX(-15%);*/
}

.hdr_citas:hover
{
    color: blue;
    cursor: pointer;
}

.hdr_indiceh:hover
{
    color: blue;
    cursor: pointer;
}

.hdr_indicei:hover
{
    color: blue;
    cursor: pointer;
}

.controles_tabla
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton_tabla
{
    font-size: 15px;

    border-radius: 10px;
    border-color: #A4A4A4;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.boton_tabla:hover
{
    background-color: #AAA4A4;
}

.boton_tabla:disabled
{
    cursor: not-allowed;
    background-color: #979797;
}

#Texto_contador
{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

#Seccion_renglones_filtrado
{
    background-color: #F2F2F2;

    display: flex;

    transform: translateY(-40%);
}

#Texto_cantidad_filas
{
    margin-left: auto;
}

#Seleccionar_filtro_filas
{
    margin-right: 10px;
    margin-left: 6px;
    margin-top: 10px;
}

#seccion_creador
{
    background-color: #F2F2F2;
    width: 100%;
}

#Texto_creador
{
    font-family: Roboto-Regular;
    text-align: center;
}